<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:custom="http://www.localhost:8080/admin/saleslist">
<head>
<meta charset="UTF-8">
<title>SalesList</title>
</head>
<body>
	<h3>売上管理一覧</h3>
	
	<button><a th:href="@{'/admin'}">管理者メニューに戻る</a></button>
	<button><a th:href="@{'/admin/salesupdate'}">更新</a></button>
	<table border="1">
		<tr>
			<th>予約日時</th>
			<th>ユーザーID</th>
			<th>ユーザー名</th>
			<th>車両ID</th>
			<th>車種</th>
			<th>料金</th>
			<th>日数</th>
			<th>売上合計</th>
			<th>編集</th>
		</tr> 
		<tr th:each="sales : ${saleslist}" th:with="rtime=${sales.reservetime},rstart=${sales.startdate},rend=${sales.enddate}">
			<td th:text="${#temporals.format(rtime, 'yyyy年MM月dd日HH時mm分ss秒')}" style="text-align:center"></td>
			<td th:text="${sales.fullnameid}" style="text-align:center"></td>
			<td th:text="${sales.user.username}" style="text-align:center"></td>
			<td th:text="${sales.carid}" style="text-align:center"></td>	
			<td th:text="|${sales.car.cartype} ${sales.car.maker} ${sales.car.carname} ${sales.car.passengers}人乗り|" style="text-align:center"></td>
			<td th:text="|${sales.car.carprice}円|" style="text-align:center"></td>
			<td th:text="${custom.getDaysDifferencePlusOne(rstart, rend)}" style="text-align:center"></td>
			<td th:text="${sales.amount}" style="text-align:center"></td>
				
			<td>
			<form th:action="@{/admin/salesedit}" method="get">
				<input type="hidden" name="salesid" th:value="${sales.salesid}" />
				<input type="submit" name="edit" value="編集" />
			</form>
			</td>
		</tr>
	</table>
	<label for="total">合計売上：</label>
	<input type="text" id="total" name="total" th:value="|${total}円|" th:readonly="true"/>
</body>
</html>