<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>userlist</title>
</head>
<body>
<h3>ユーザー一覧</h3>
<!--　作成:黒川　-->
<a th:href="@{/admin}">管理者メニューに戻る</a>
<table border="1">
	<tr>
		<th>フルネームID</th>
		<th>ユーザーー名</th>
		<th>生年月日</th>
		<th>性別</th>
		<th>権限</th>
		<th>編集</th>
	</tr>
	<tr th:each="user : ${userlist}">
		<td th:text="${user.fullnameId}"></td>
		<td th:text="${user.username}"></td>
		<td th:text="${user.birth}"></td>
		<td th:text="${user.sex}"></td>
		<td th:text="${user.roleName}"></td>
		<td><form th:action="@{/admin/edit}" method="get">
				<input type="hidden" name="fullnameId" th:value="${user.fullnameId}"/>
				<input type="submit" name="edit" value="編集"/>
		 	</form>
		</td>
	</tr>
 
</table>

</body>
</html>