<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>userlist</title>
</head>
<body>
<h3>ユーザー一覧</h3>
<!--href追記-->
<a>管理者メニューに戻る</a>
<table border="1">
	<tr>
		<th>ユーザーID</th>
		<th>名前</th>
		<th>生年月日</th>
		<th>性別</th>
		<th>パスワード</th>
		<th>権限</th>
		<th>編集</th>
	</tr>
	<tr th:each="user : ${userlist}">
		<td text="${user.userid}"></td>
		<td text="${user.name}"></td>
		<td text="${user.birth}"></td>
		<td text="${user.sex}"></td>
		<td text="${user.pass}"></td>
		<td text="${user.authority}"></td>
		<!--アクション先追記-->
		<td><form th:action="" method="get">
				<input type="hidden" name="userid" th:value="${user.userid}"/>
				<input type="submit" name="edit" value="編集"/>
		 	</form>
		</td>
	</tr>
 
</table>

</body>
</html>