@charset "UTF-8";
html{
    font-size: 0.625em;
}
body{
    color: black;
    
    line-height: 1.7;
    font-size: 1.4(em);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
     border-top:5px blue solid;
    border-bottom: 5px blue solid;
    height:100px;
}
.log{
	height:200px;
}


.log img{
	height:200px;
	
	padding-left:2em;
}


.button{
    box-shadow: 0px 1px 5px 4px #7f6c6c;
    
}

.user{
	height:300px;
	padding-top:50px;
	padding-left:500px;
	 font-family: Arial, Helvetica, sans-serif;
	
}


.user button{
	margin: 20px;
}

footer{
    display:block;
    font-size: 3px;
    background-color:aquamarine;
    padding-top:3rem;
    padding-left:545px;
    padding-bottom:30px;
    border-top:5px blue solid;
    border-bottom: 5px blue solid;

}

