@charset "UTF-8";
html{
    font-size: 0.625em;
}
body{
    color: black;
    
    line-height: 1.7;
    font-size: 1.4(em);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color:black;
}
.wrapper{
    margin: auto 5vw;
}
.cancel{
    padding:100px 40px 50px 40px;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
       border-top:5px blue solid;
    border-bottom: 5px blue solid;
    height:100px;
    
}
.log{
	height:200px;
	
    font-size: 3.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}
.log img{
	height:200px;
	
	padding-left:2em;
}


.nav ul{
    display:flex;
    justify-content: space-between;
    width:30rem;
     margin-right:150px;
}
.nav ul li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.cancel {
    padding-right:200px;
    padding-left:500px;
}

button{
    box-shadow: 0px 1px 5px 4px #7f6c6c;
    
}
.fv{ 
	min-height: 25vh;
    background-size: cover;
    background-position: center-top;
    background-repeat: no-repeat;

    position: relative;
}

.reserveextensioncpl{
	height:350px;
	padding-left:300px;
	 font-family: Arial, Helvetica, sans-serif;
}

.reserveextensioncpl button{
	margin:20px;
}

footer{
    display:block;
    font-size: 3px;
    background-color:aquamarine;
    padding-top:3rem;
    padding-left:545px;
    padding-bottom:30px;
    border-top:5px blue solid;
    border-bottom: 5px blue solid;

}

