<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Rent a car Lineup</title>
<link  rel="styleSheet"th:href="@{css/lineup.css}">
</head>
<body>
	<section class="fv">
	 <header class="wrapper">
              <div class="log"><img th:src="@{images/car/logo.png}"></div>
            <div class="nav">	
                <ul>
					<li>ようこそ 　[[${user.username}]]　様</li>
                    <li><a th:href="@{price}">Price</a></li>
                    <li><a th:href="@{lineup}">Lineup</a></li>
                   <li> <form th:action="@{'/logout'}" method="post">
					<button>ログアウト</button>
					</form></li>
                </ul>
            </div>
        </header>
	
<section class="lineup">	
	<table border="1">
		<h1>レンタカー詳細</h1>
	<tr>
		<th>メーカー</th>
		<th>車名</th>
		<th>カータイプ</th>
		<th>色</th>
		<th>乗員数(人)</th>
		
	</tr>
	<tr th:each ="car : ${carlist}">
		<td th:text="${car.maker}"></td>
		<td th:text="${car.carname}"></td>
		<td th:text="${car.cartype}"></td>
		<td th:text="${car.color}"></td>
		<td th:text="${car.passengers}"></td>
	</tr>
	</table>
	<p></p>
	<button><a th:href="@{/reserve}">前のページへもどる</a></button>
	 </section>
 <footer>team groupC</footer>
</body>
</html>