<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Price ALL</title>
<link  rel="styleSheet"th:href="@{css/price.css}">
</head>
<body>
	<section class="fv">
	<header class="wrapper">
            <div class="log">レンタカー</div>
            <div class="nav">
                <ul>
					<li>ようこそ  [[${user.username}]]　様</li>
                    <li><a th:href="@{price}">Price</a></li>
                    <li><a th:href="@{lineup}">Lineup</a></li>
                   	<li> <form th:action="@{'/logout'}" method="post">
					<button>ログアウト</button>
					</form></li>
                </ul>
            </div>
        </header>
	</section>
	<table border="1">
		<h1>価格一覧</h1>
	<tr>
		<th>一日レンタル料金（円）</th>
		<th>名前</th>
		<th>タイプ</th>
	</tr>
	<tr th:each ="car : ${carlist}">
		<td th:text="${car.carprice}"></td>
		<td th:text="${car.carname}"></td>
		<td th:text="${car.cartype}"></td>
	</tr>
	</table>
	<p></p>
	
	<button><a th:href="@{/reserve}">前のページへもどる</a></button>
	 <footer>team groupC</footer>
</body>
</html>