<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	　xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ReserveCancelCpl</title>
<link  rel="styleSheet" th:href="@{css/reservecancelcpl.css}" >
</head>
<body>
	<main>
		<section class="fv">
			<header class="wrapper">
				<div class="log">レンタカー</div>
				<div class="nav">
					<ul>
						<li><a th:href="@{reserve/price}">Price</a></li>
						<li><a th:href="@{reserve/lineup}">Lineup</a></li>
						 <li> <form th:action="@{'/logout'}" method="post">
					<button>ログアウト</button>
					</form></li>
					</ul>
				</div>
			</header>
		</section>	
	<!--奥井さん作成ここから-->
	<h1>予約をキャンセルしました。</h1>
	<h1>ご利用ありがとうございました。</h1>
　　<button><a th:href="@{'reserve'}">予約画面に戻る</a></button>
	<!--ここまで-->
	 <footer>team groupC</footer>
	</main>
</body>
</html>