<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	　xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<!--黒川追加-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Reserve</title>
 <!-- reset css-->
    <link rel="stylehSeet" href="https://unpkg.com/ress/dist/ress.min.css">
	<link  rel="styleSheet"th:href="@{css/reserve.css}">
</head>
<body>
	 <!-- BGMの再生に使用するaudio要素を追加 -->
     <audio id="bgmPlayer" autoplay loop>
        <source th:src="@{/audio/MusMus-BGM-138.mp3}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
	<main>
    <section class="fv">
        <header class="wrapper">
            <div class="log"><img th:src="@{images/car/logo.png}"></div>
            <div class="nav">	
                <ul>
					<li>ようこそ 　[[${user.username}]]　様</li>
                    <li><a th:href="@{price}">Price</a></li>
                    <li><a th:href="@{lineup}">Lineup</a></li>
                   <li> <form th:action="@{'/logout'}" method="post">
					<button>ログアウト</button>
					</form></li>
                </ul>
            </div>
        </header>
 <div class="slide">       
<div class="loop_wrap">
<img th:src="@{images/car/loop.jpg}">
<img th:src="@{images/car/loop.jpg}">
     
</div>
</div>
</section>
   <section class="reserve">

		  <!--奥井さん作成-->
	<h3>KITOレンタカー　予約画面</h3>
	<div sec:authorize="${hasRole('ADMIN')}"><a th:href="@{'/admin'}" align="right">管理画面</a></div>
	<a th:href="@{'/reservation'}" align="right">予約確認</a>
	
	<form th:action="@{'/reservein'}" method="post">
		<label for="start">利用開始日：</label>
		<input type="date" id="start" class="reserve" name="startdate" value="" th:min="${today}" max="2024-07-22" required/>
		<label for="end">利用終了日：</label>
		<input type="date" id="end" class="reserve" name="enddate" value="" th:min="${today}" max="2024-07-22" required/><br>
		<label for="car">車の選択：</label>
		<select name="carid" id="car" class="reserve"  required>
            	 <option value="" selected disabled></option>
            	 <option
               	 th:each="list : ${carList}"
               	 th:value="${list.carid}"
               	 th:text="|${list.cartype} ${list.carname} ${list.passengers}人乗り ${list.carprice}円|">
            	 </option>
        </select><br>
         <input type="submit" name="reserve" value="決定" />
	</form>
	<script>
		const startdateinput = document.getElementById('start');
		const enddateinput = document.getElementById('end');
		enddateinput.addEventListener('change', function() {
			const startdatevalue = new Date(startdateinput.value);
			const enddatevalue = new Date(enddateinput.value);
			if (enddatevalue < startdatevalue) {
				enddateinput.value = startdateinput.value;
			}
		});
	</script>
	<!--奥井さん作成ここまで-->
		  	  
		  
	  </div>
            
      </div>
    </section>    
    <section class="products">
        <h1 class="title">Products</h1>
        <div class="contents">
            <div class="price">
                <div class="products-bg"><img th:src="@{images/car/car1.png}"></div>
                <div class="products-info">
                    <h2>　　　価格</h2>
                    
                    <div class="square-btn">
				<a th:href="@{price}">Car Price</a></div>


                </div>
            </div>
            <div class="rinnup">
                <div class="products-bg"><img th:src="@{images/car/car2.png}"></div>
                <div class="products-info">
					<h2>レンタカー　ラインナップ</span></h2>
                    <div class="square-btn">
				<a th:href="@{lineup}">CAR All</a></div>
                </div>
            </div>
            </div>
        </section>

   <section class="ranking wrapper">
        <h2 class="ranking-title">スタッフおすすめ</h2>
        <ul class="slider">
            <li class="ranking-item">
                <div class="ranknumber"><img th:src="@{images/car/no1.png}" ></div>
            <img th:src="@{images/car/アルトワークス.jpg}">
             <div class="ranking-info">
               <div>
               <p class="name">アルトワークス</p>
               <p class="price">一日：12,000円</p>
            </div>   
            </li>
            <li class="ranking-item">
           <div class="ranknumber"><img th:src="@{images/car/no2.png}" ></div>
            <img th:src="@{images/car/ウルスS.jpg}">
	          <div class="ranking-info">
               <p class="name">ウルスS</p>
               <p class="price">一日:150,000円</p>
            </li>
            </div>   
            <li class="ranking-item">
            <div class="ranknumber"><img th:src="@{images/car/no3.png}" ></div>
            <img th:src="@{images/car/スカイラインR34.jpg}">
           <div class="ranking-info">
              <p class="name">スカイラインR34</p>
               <p class="price">一日：20,000円</p>
           </div> 
          </li>  
            <li class="ranking-item">
            <div class="ranking-info">
               <img th:src="@{images/car/ランドクルーザー.jpg}">
               <p class="name">ランドクルーザー</p>
               <p class="price">一日30,000円</p>
             </div> 
	        </li>
           <li class="ranking-item">
           <div class="ranking-info">
                <img th:src="@{images/car/RX-7.jpg}">
                <p class="name">RX-x7</p>
                <p class="price">一日:18,000円</p>
             </div> 
            </li>
    </section>

	
	  <section class="location">
       <h1 class="title">Location</h1>
        <div class="contents">
            <div class="infomation">
                <h3>ShopAcces</h3>
                <div class="address">
                    <h2>住所:
					</h2>
                    <p>〒542-0082 </p>
                    <p></p>
					<p>大阪府大阪市中央区島之内１丁目４−７ 株式会社 Baifun 本社ビル ３F</p>
                </div>
                <div class="tel">
                    <h2>電話番号:</h2>
                    <p>1234-56-7890</p>
                </div>
                <div class="time">
                    <h2>営業時間</h2>
                    <div>
                    <p>月～金　9:00～17:00</p>
                    <p>土、日　8:30～17:30</p>
                    </div>
                </div>
                <div class="day">
                    <h2>定休日</h2>
                    <p>第２，４水曜日</p>
                </div>
            </div>
          <div class="map">
			<div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.2741879888194!2d135.50741007430233!3d34.673028772929435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e7478d93cc01%3A0x35518abd7cf604f3!2z44Kt44Oj44OrSVTjgqvjg6zjg4Pjgrgg5aSn6Ziq5qCh!5e0!3m2!1sja!2sjp!4v1689660048005!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            </div>
        </div>
    </section>
	 <footer>team groupC</footer>
	</main>
</body>
</html>