<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	　xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>Reserve</title>
<link th:href="@{/css/reserve.css}" rel="styleSheet">
</head>
<body >
	<h3>KITOレンタカー　予約画面</h3>
	<div sec:authorize="${hasRole('ADMIN')}"><a th:href="@{'/admin'}" align="right">管理画面</a></div>
	<a th:href="@{'/reservation'}" align="right">予約確認</a>
	<form th:action="@{'/logout'}" method="post">
		<button>ログアウト</button>
	</form>
	<form th:action="@{'/reservein'}" method="post">
		<label for="start">利用開始日：</label>
		<input type="date" id="start" class="reserve" name="startdate" value="" th:min="${today}" max="2024-07-22" required/>
		<label for="end">利用終了日：</label>
		<input type="date" id="end" class="reserve" name="enddate" value="" th:min="${today}" max="2024-07-22" required/><br>
		<label for="car">車の選択：</label>
		<select name="carid" id="car" class="reserve"  required>
            	 <option value="" selected disabled></option>
            	 <option
               	 th:each="list : ${carList}"
               	 th:value="${list.carid}"
               	 th:text="|${list.cartype} ${list.carname} ${list.passengers}人乗り ${list.carprice}円|"
            	 </option>
        </select><br>
         <input type="submit" name="reserve" value="決定" />
	</form>
	<script>
		const startdateinput = document.getElementById('start');
		const enddateinput = document.getElementById('end');
		enddateinput.addEventListener('change', function() {
			const startdatevalue = new Date(startdateinput.value);
			const enddatevalue = new Date(enddateinput.value);
			if (enddatevalue < startdatevalue) {
				enddateinput.value = startdateinput.value;
			}
		});
	</script>
</body>
</html>