<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	　xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>ReserveConf</title>
<link rel="styleSheet" th:href="@{css/reserveconf.css}" >
</head>
<body th:with="rtime=${reserveForm.reservetime},rstart=${reserveForm.startdate},rend=${reserveForm.enddate}">
	<main>
		<section class="fv">
			<header class="wrapper">
				   <div class="log"><img th:src="@{images/car/logo.png}"></div>
				<div class="nav">
					<ul>
						<li>ようこそ  [[${user.username}]]様</li>
						<li><a th:href="@{price}">Price</a></li>
						<li><a th:href="@{lineup}">Lineup</a></li>
						 <li> <form th:action="@{'/logout'}" method="post">
					<button>ログアウト</button>
					</form></li>
					</ul>
				</div>
		
			</header>
		</section>	
<section class="reserve">	
	<h3>予約確認画面</h3>
	<form th:action="@{'/reserved'}" method="post" th:object="${reserveForm}">
		<table border="1">
		<tr>
				<th>フルネームID</th>
				<th>予約日時</th>
				<th>レンタル開始日</th>
				<th>レンタル終了日</th>
				<th>車種</th>
				<th>金額</th>
			</tr>
			<tr>
				<td th:text="*{fullnameid}" style="text-align:center"></td>
				<td th:text="${#temporals.format(rtime, 'yyyy年MM月dd日HH時mm分ss秒')}" style="text-align:center" ></td>
				<td th:text="${#temporals.format(rstart, 'yyyy年MM月dd日')}" style="text-align:center"></td>
				<td th:text="${#temporals.format(rend, 'yyyy年MM月dd日')}" style="text-align:center"></td>
				<td th:text="|${car.cartype} ${car.maker} ${car.carname} ${car.passengers}人乗り|" style="text-align:center"></td>
				<td th:text="|*{amount}円|" style="text-align:center"></td>
			</tr>
			<input type="hidden" name="carid" th:value="*{carid}"/>
			<input type="hidden" name="fullnameid" th:value="*{fullnameid}"/>
			<input type="hidden" name="reservetime" th:value="*{reservetime}"/>
			<input type="hidden" name="startdate" th:value="*{startdate}"/>
			<input type="hidden" name="enddate" th:value="*{enddate}"/>
			<input type="hidden" name="amount" th:value="*{amount}"/>
		</table> 
		<div>
				<button><a th:href="@{'/reserve'}">戻る</a></button>
				<input type="submit" name="reserved" value="予約申し込み" />
		</div>
	</form>
	 </section>
	 <footer>team groupC</footer>
	
	</main>
</body>
</html>