<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	　xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>ReserveExtensionCpl</title>
<link  rel="styleSheet" th:href="@{css/reserveextensioncpl.css}" >
</head>
<body th:with="rtime=${reserve.reservetime},rstart=${reserve.startdate},rend=${reserve.enddate}">
	
	
	<main>
		<section class="fv">
			<header class="wrapper">
				<div class="log">レンタカー</div>
				<div class="nav">
					<ul>
						<li>ようこそ 　[[${user.username}]]　様</li>
						<li><a th:href="@{reserve/price}">Price</a></li>
						<li><a th:href="@{reserve/lineup}">Lineup</a></li>
						 <li> <form th:action="@{'/logout'}" method="post">
					<button>ログアウト</button>
					</form></li>
					</ul>
				</div>
			</header>
		</section>	
	<!--奥井さん作成-->
	<h3>KITOレンタカー　予約延長完了画面</h3>
	<h4>以下の内容で予約の変更が完了しました。</h4>
	<h4>変更後の予約内容</h4>
		<table border="1">
			<tr>
				<th>フルネームID</th>
				<th>予約日時</th>
				<th>レンタル開始日</th>
				<th>レンタル終了日</th>
				<th>車種</th>
				<th>金額</th>
			</tr>
			<tr>
				<td th:text="${reserve.fullnameid}" style="text-align:center"></td>
				<td th:text="${#temporals.format(rtime, 'yyyy年MM月dd日HH時mm分ss秒')}" style="text-align:center"></td>
				<td th:text="${#temporals.format(rstart, 'yyyy年MM月dd日')}" style="text-align:center"></td>
				<td th:text="${#temporals.format(rend, 'yyyy年MM月dd日')}" style="text-align:center"></td>
				<td th:text="|${car.cartype} *{car.maker} *{car.carname} *{car.passengers}人乗り|" style="text-align:center"></td>
				<td th:text="|${reserve.amount}円|" style="text-align:center"></td>
			</tr>
		</table>
		<div>
				<button><a th:href="@{'/reservation'}">戻る</a></button>
		</div>
	</form>
	<!--ここまで-->
	 <footer>team groupC</footer>
	</main>
</body>
</html>