<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	　xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<!--黒川追加-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Reservation</title>
<link rel="styleSheet"  th:href="@{css/reservation.css}" >
</head>
<body>
	<main>
		<section class="fv">
		  <header class="wrapper">
            <div class="log">レンタカー</div>
            <div class="nav">
                <ul>
					<li>ようこそ  [[${user.username}]]様</li>
                    <li><a th:href="@{reserve/price}">Price</a></li>
                    <li><a th:href="@{reserve.lineup}">Lineup</a></li>
                   <li> <form th:action="@{'/logout'}" method="post">
					<button>ログアウト</button>
					</form></li>
                </ul>
            </div>
        </header>
        </section>
	<!--奥井さん作成-->
<section class="reservation">	
	<h3>KITOレンタカー　予約確認画面</h3>
		<table border="1">
			<tr>
				<th>フルネームID</th>
				<th>予約日時</th>
				<th>レンタル開始日</th>
				<th>レンタル終了日</th>
				<th>車種</th>
				<th>金額</th>
				<th>延長</th>
				<th>キャンセル</th>
			</tr>
			<tr th:each="list : ${reservation}" th:with="rtime=${list.reservetime},rstart=${list.startdate},rend=${list.enddate}">
				<td th:text="${list.fullnameid}" style="text-align:center"></td>
				<td th:text="${#temporals.format(rtime, 'yyyy年MM月dd日HH時mm分ss秒')}" style="text-align:center"></td>
				<td th:text="${#temporals.format(rstart, 'yyyy年MM月dd日')}" style="text-align:center"></td>
				<td th:text="${#temporals.format(rend, 'yyyy年MM月dd日')}" style="text-align:center"></td>
				<td th:text="|${list.car.cartype} ${list.car.maker} ${list.car.carname} ${list.car.passengers}人乗り|" style="text-align:center"></td>
				<td th:text="|${list.amount}円|" style="text-align:center"></td>
				<td>
					<form th:action="@{/reserveextension}" method="get">
						<input type ="hidden" name="reserveid" th:value="${list.reserveid}"/> 
						<input type ="submit" name="extension" value="延長"/>
					</form>
				</td>
				<td>
					<form th:action="@{/reservecancel}" method="get">
						<input type ="hidden" name="reserveid" th:value="${list.reserveid}"/> 
						<input type ="submit" name="cancel" value="キャンセル"/>
					</form>
				</td>
			</tr>
		</table>
		
		<button><a th:href="@{'/reserve'}">戻る</a></button>
		 </section>
	 <footer>team groupC</footer>
	</main>
			
</body>
</html>